
a:hover {
  text-decoration: none;
  color: red;
}


h1, h2, h3{
  color:#136b62;
}



/* styles the main body, equal and relevant to all pages */
.main-body {
  background: #eeeeee;
  border-bottom: 1px solid black;

}

.main-container {
  margin: 0rem 7rem 2.5rem 7rem;
  padding: 0rem 2.5rem;
  min-height: 80vh;

}


header{
  padding: 2rem 0;
}

header img{
  max-width:90%;
  height: auto;

}


header nav a {
  color:#C1BEB9;
  padding: 1.5rem 0rem;
  background:#136b62;
  align-items: center;
  text-align: center;
}

header nav a:hover, nav .dropbtn:hover{
  text-decoration: none;
  color: white;
  background: #383838;
  transition: all 0.4s ease 0s;
}


header nav a:not(:last-child){
  border-right: 1px solid #C1BEB9;
}

header nav .dropbtn{
  color:#C1BEB9;
  padding: 1.5rem 0rem;
  background:#136b62;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
}

.dropdown-content {
  display: none;
}

nav .dropbtn:hover nav .dropdown-content {
  display: block;
}


form{
  margin:2rem 0;
}

.feedback{
  padding:2rem 0;
  color: red;
}

input[type=submit]{
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid #383838;
  border-radius: 4px;
  text-decoration: none;
  color:#383838;
  background: #eeeeee;
}
input[type=submit]:hover{
  color: white;
  background: #136b62;
  border-color: #383838;
  transition: all 0.4s ease 0s;
}



.footer-body{
  margin: 0;
  padding: 0rem 2.5rem 1rem 2.5rem;
  color:white;
  background: #383838;

}
.footer-container{
  margin: 0rem 4rem 0rem 4rem;
  text-align: center;
}



#canvasContainer{
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

}
